<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mehtab.smartparking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LOGIN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ADMINLOGIN">
            <intent-filter>
                <action android:name=".ADMINLOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".USERLOGIN">
            <intent-filter>
                <action android:name=".USERLOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".REGISTER">
            <intent-filter>
                <action android:name=".REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DASHBOARD">
            <intent-filter>
                <action android:name=".DASHBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BOOKING">
            <intent-filter>
                <action android:name=".BOOKING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FEEDBACK">
            <intent-filter>
                <action android:name=".FEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CANCELBOOKING">
            <intent-filter>
                <action android:name=".CANCELBOOKING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ADMINDASHBOARD">
            <intent-filter>
                <action android:name=".ADMINDASHBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VIEWFEEDBACK">
            <intent-filter>
                <action android:name=".VIEWFEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CHECKOUT">
            <intent-filter>
                <action android:name=".CHECKOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FARE">
            <intent-filter>
                <action android:name=".FARE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ADMINCANCEL">
            <intent-filter>
                <action android:name=".ADMINCANCEL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".addslots">
            <intent-filter>
                <action android:name=".addslots" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>